<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<userSettings>
    <GymFitnessOlympic.Properties.Settings>
      <setting name="GiaGym1" serializeAs="String">
        <value>40000</value>
      </setting>
      <setting name="GiaGym2" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="GiaSauna1" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="GiaSauna2" serializeAs="String">
        <value>10000</value>
      </setting>
     
    </GymFitnessOlympic.Properties.Settings>
  </userSettings>-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GymFitnessOlympic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DBContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GymFitness;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <GymFitnessOlympic.Properties.Settings>
      <setting name="GiaGym1" serializeAs="String">
        <value>50000</value>
      </setting>
      <setting name="GiaGym2" serializeAs="String">
        <value>40000</value>
      </setting>
      <setting name="GiaSauna1" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="GiaSauna2" serializeAs="String">
        <value>20000</value>
      </setting>
    </GymFitnessOlympic.Properties.Settings>
  </applicationSettings>
</configuration>